<form method="post" action="/editar">
    CPF: <input type="text" name="cpf" value="{{dados.cpf}}">
    Nome: <input type="text" name="nome" value="{{dados.nome}}">
    <input type="submit" value="Editar">
</form>